body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f9f4;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
}

button {
    background: #00b96b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #009f5f;
}
